<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sopeco.engine.processing">
      <strategy
            class="org.sopeco.plugin.std.processing.basic.BasicStatisticalProcessingExtension">
      </strategy>
   </extension>
   <extension
         point="org.sopeco.engine.processing">
      <strategy
            class="org.sopeco.plugin.std.processing.basic.FilterDataProcessingExtension">
      </strategy>
   </extension>
   <extension
         point="org.sopeco.engine.processing">
      <strategy
            class="org.sopeco.plugin.std.processing.basic.ObservationOutlierRemovalExtension">
      </strategy>
   </extension>

</plugin>
