<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sopeco.engine.experimentseries.parametervariation">
      <strategy
            class="org.sopeco.plugin.std.parametervariation.linear.LinearNumericVariationExtension">
      </strategy>
   </extension>
   <extension
         point="org.sopeco.engine.experimentseries.parametervariation">
      <strategy
            class="org.sopeco.plugin.std.parametervariation.constant.ConstantVariationExtension">
      </strategy>
   </extension>
   <extension
         point="org.sopeco.engine.experimentseries.parametervariation">
      <strategy
            class="org.sopeco.plugin.std.parametervariation.bool.BooleanVariationExtension">
      </strategy>
   </extension>
   <extension
         point="org.sopeco.engine.experimentseries.parametervariation">
      <strategy
            class="org.sopeco.plugin.std.parametervariation.csv.CSVVariationExtension">
      </strategy>
   </extension>

</plugin>
