<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://sopeco.org/configuration"
            class="org.sopeco.core.model.configuration.ConfigurationPackage"
            genModel="model/SoPeCo-Configuration.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://sopeco.org/configuration/environment"
            class="org.sopeco.core.model.configuration.environment.EnvironmentPackage"
            genModel="model/SoPeCo-Configuration.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://sopeco.org/configuration/measurements"
            class="org.sopeco.core.model.configuration.measurements.MeasurementsPackage"
            genModel="model/SoPeCo-Configuration.genmodel"/>
   </extension>

</plugin>
