<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!-- VIEWS -->
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.sopeco.category"
            name="SoPeCo">
      </category>
      <view
            allowMultiple="false"
            category="org.sopeco.category"
            class="org.sopeco.visualisation.eclipse.navigation.PersistenceNavigation"
            icon="icons/datasource.gif"
            id="org.sopeco.visualisation.navigation.PersistenceNavigation"
            name="Persistence Navigation">
      </view>
   </extension>
   
<!-- EDITORS -->   
   <extension
         point="org.eclipse.ui.editors">
      <editor
        	class="org.sopeco.visualisation.eclipse.chart.function.FunctionViewEditor"
            id="org.sopeco.visualisation.FunctionViewEditor"
            name="Function View">
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
        	class="org.sopeco.visualisation.eclipse.chart.boxplot.BoxPlotViewEditor"
            id="org.sopeco.visualisation.BoxPlotViewEditor"
            name="Box-Plot View">
      </editor>
   </extension>
   
<!-- COMMANDS -->
   <extension 
   		  point="org.eclipse.ui.commands">
   	 <command
           defaultHandler="org.sopeco.visualisation.eclipse.commands.CommandHandler"
           id="org.sopeco.visualisation.delete"
           name="Delete">
     </command>
     <command
           defaultHandler="org.sopeco.visualisation.eclipse.commands.CommandHandler"
           id="org.sopeco.visualisation.openFunctionView"
           name="Open Function View">
     </command>
     <command
           defaultHandler="org.sopeco.visualisation.eclipse.commands.CommandHandler"
           id="org.sopeco.visualisation.openBoxPlotView"
           name="Open Box-Plot View">
     </command>
     <command
           defaultHandler="org.sopeco.visualisation.eclipse.commands.CommandHandler"
           id="org.sopeco.visualisation.refreshNavigation"
           name="Refresh Navigation View">
     </command>
   </extension>
   
<!-- ELEMENT FACTORY -->   
   <extension point="org.eclipse.ui.elementFactories">
     <factory
           class="org.sopeco.visualisation.eclipse.chart.ViewFactory"
           id="org.sopeco.visualisation.eclipse.ViewFactory">
     </factory>
   </extension>

<!-- MENUS -->   
   <extension
            point="org.eclipse.ui.menus">
     <menuContribution
            allPopups="false"
            locationURI="popup:org.sopeco.visualisation.navigation.PersistenceNavigation">
             <command
                 commandId="org.sopeco.visualisation.openFunctionView"
                 icon="icons/chart_curve.png"
                 id="org.sopeco.visualisation.openFunctionView.menuItem"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <and>
                    <test
                          property="org.sopeco.visualisation.navigation.NavigationPropertyTester.selectedOne">
                    </test>
                    <test
                          property="org.sopeco.visualisation.navigation.NavigationPropertyTester.runSelected">
                    </test>
                 </and>
              </visibleWhen>
            </command>
            
        	<command
                 commandId="org.sopeco.visualisation.openBoxPlotView"
                 icon="icons/chart_boxPlot.png"
                 id="org.sopeco.visualisation.openBoxPlotView.menuItem"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <and>
                    <test
                          property="org.sopeco.visualisation.navigation.NavigationPropertyTester.selectedOne">
                    </test>
                    <test
                          property="org.sopeco.visualisation.navigation.NavigationPropertyTester.runSelected">
                    </test>
                 </and>
              </visibleWhen>
            </command>
            
            <command
                 commandId="org.sopeco.visualisation.delete"
                 icon="icons/delete.png"
                 id="org.sopeco.visualisation.delete.menuItem"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                    <test
                          property="org.sopeco.visualisation.navigation.NavigationPropertyTester.homogenousSelection">
                    </test>
              </visibleWhen>
            </command>
            
            <command
	             commandId="org.sopeco.visualisation.refreshNavigation"
	             icon="icons/reload_all_tabs.png"
	             id="org.sopeco.visualisation.refreshNavigation.menuItem"
	             style="push">
           </command>

     </menuContribution>
  </extension>
  
<!-- PROPERTY TESTER -->
  <extension
            point="org.eclipse.core.expressions.propertyTesters">
         <propertyTester
               class="org.sopeco.visualisation.eclipse.navigation.NavigationPropertyTester"
               id="org.sopeco.visualisation.navigation.NavigationPropertyTester"
               namespace="org.sopeco.visualisation.navigation.NavigationPropertyTester"
               properties="selectedOne,runSelected,homogenousSelection"
               type="java.lang.Object">
         </propertyTester>
      </extension>
</plugin>
