<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sopeco.engine.experimentseries.constantvalueassignment">
      <strategy
            class="org.sopeco.plugin.std.constantassignment.BooleanConstantValueAssignmentExtension">
      </strategy>
   </extension>
   <extension
         point="org.sopeco.engine.experimentseries.constantvalueassignment">
      <strategy
            class="org.sopeco.plugin.std.constantassignment.IntegerConstantValueAssignmentExtension">
      </strategy>
   </extension>
   <extension
         point="org.sopeco.engine.experimentseries.constantvalueassignment">
      <strategy
            class="org.sopeco.plugin.std.constantassignment.DoubleConstantValueAssignmentExtension">
      </strategy>
   </extension>
   <extension
         point="org.sopeco.engine.experimentseries.constantvalueassignment">
      <strategy
            class="org.sopeco.plugin.std.constantassignment.StringConstantValueAssignmentExtension">
      </strategy>
   </extension>

</plugin>
